/* Move the html rules to the top, since many of the properties 
like font-family are "inherited" by the other elements, serving as a default */
html {
    background-color: #00539f;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
}
/*Listed selectors separated by ,*/
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;  
}
/*Class selector starts with .*/
.bold{
    font-weight:bold;
}
/*Combined selectors */
li.bold{
    font-style:italic;
}
p.bold{
    text-decoration:underline;
}
/* body covers nearly the whole page...*/
body {
    background-color: #FF9500;
    width: 600px;
    margin: 0 auto;
}